*{
    padding: 0px;
    margin: 0px;
    font-family: Lato;
}
.first-part{
    width: 1920px;
height: 850px;
   background-color: rgba(229, 84, 115, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.image10{
    width: 650px;
    padding-right: 240px;
}
.writing-part{
   
    padding-left: 230px;
    width: 700px;
    
}
.title1{
    color: #272727;
    
    font-size: 80px;
font-weight: 800;
padding-bottom: 30px;
}
.pera1{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 630px;
padding-bottom: 30px;
}
.btn{
    padding: 20px 40px;
    background-color: #E55473;
    color: white;
    border-style: none;
    border-radius: 8px;
}