* {
    padding: 0px;
    margin: 0px;
    font-family: Lato;
}

.first-part {
    width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    align-items: center;
    display: flex;
    justify-content: space-between;

}

.image10 {
    width: 650px;
    padding-right: 240px;
}

.writing-part {

    padding-left: 230px;
    width: 700px;

}

.title1 {
    color: #272727;

    font-size: 80px;
    font-weight: 800;
    padding-bottom: 30px;
}

.pera1 {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 630px;
    padding-bottom: 30px;
}

.btn {
    padding: 20px 40px;
    background-color: #E55473;
    color: white;
    border-style: none;
    border-radius: 8px;
}

.text2 {
    text-align: center;
    padding-top: 178px;
}

.text2-head {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.text2-pera {
    color: rgba(39, 39, 39, 0.60);
    width: 594px;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
}

.photos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px 240px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;


}

.img3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    padding-right: 24px;
}

.img4 {
    background-color: rgba(5, 151, 160, 0.15);
}

.img5 {
    background-color: rgba(71, 125, 17, 0.15);
}

.photo1 {
    width: 310px;
    height: 428px;
    padding-left: 76px;
    padding-top: 110px;

}

.photo {
    text-align: center;
    text-decoration: underline;
    padding: 0px 24px;
}

.photo2 {
    width: 370px;
    height: 370px;
    padding-left: 76px;
    padding-top: 110px;
}

.photo3 {
    width: 314px;
    height: 471px;
    padding-left: 76px;
    padding-top: 66px;
}

.section1 {
    max-width: 1950px;
}

.pera2 {
    padding-top: 25px;
}

.section2 {
    width: 1922px;
    height: 620px;
    padding-top: 240px;
    padding-bottom: 200px;
}

.image8 {
    width: 318px;
    height: 420px;
    padding-right: 429px;
}

.textpart {
    text-align: center;
}

.section3 {
    max-width: 1950px;
}

.text3 {
    padding-top: 60px;
}

.flower-img {
    display: flex;
    justify-content: space-around;
    padding: 40px 240px;
}

.last-section {
    max-width: 1950px;

    padding: 128px 0px;
    display: flex;
    justify-content: center;

}

.text-box {
    background-image: url(img/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;

}

.text-last {
    text-align: center;
    padding-top: 122px;
}

.last-h {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 16px;
}

.checkbox {
    text-align: center;
    padding-top: 48px;

}

.enter {
    width: 700px;
    height: 64px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 22px;
}
